body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;
}

a{
	text-decoration: none;
}

.centralizado{
	position: absolute;
	top: 12em;
	left: 25em;
	width: 40em;
}

#cadastroColaboradorContainer {
	position: absolute;
	top: 4em;
	left: 25em;
	width: 40em;
}

#cadastroOngContainer{
	position: absolute;
	top: 6em;
	left: 25em;
	width: 40em;
}

.inputTexto{
	font-size: 12px;
	width: 100%;
	height: 2em;
	margin-bottom: 0.25em;
	padding: 4px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.inputTexto2{
	font-size: 12px;
	width: 100%;
	margin-bottom: 0.25em;
	padding: 4px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.inputCheckbox{
	margin-bottom: 1em;
	margin-top: 0.50em;
	margin-right:0.50em;
	cursor: pointer;
}

.label{
	font-size: 14px;
}

.menuTopo ul{
	height: 3.5em;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

.menuTopo li{
	float: left;
}

.menuTopo a{
	display: inline-block;
	text-decoration: none;
	letter-spacing: 1px;
	color: #FFFFFF;
	transition: 0.5s;
	padding: 1em 1em;
	text-align: center;
}

.menuTopo a:hover{
	background-color: #3e8e41;
}

.section{
		width:500px;
		height: 400px;
		margin: 30px 30px;
		float:left;
}

.section ul li{
	list-style-type: none;
	display: inline;
}

.section a:active{
	color: #000000;
}

.section a:hover{
	text-decoration: underline;
}

.sidebar{
	width: 300px;
	height: 400px;
	margin: 30px 30px;
	background: #4CAF50;
	border-radius: 1em;
	float: left;
}

.sidebar ul li{
	text-decoration:none;
	list-style-type: none;
	padding: 0.5em, 0;
}

.sidebar a{
	color: #ffffff;
	letter-spacing: 1px;
	transition: 0.5s;
	text-align: center;
}

.sidebar a:hover{
	background-color: #3e8e41;
}

#btn-login{
	float: right;
}

#btn-cadastro{
	width: 50%;
	margin-left: 25%;
}

.btn{
	color: #FFFFFF;
	width: 10em;
	padding: 0.25em 1em 0.25em 1em;
	font-size: 16px;
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: #4CAF50;
}

.btn-escolhaCadastro{
	color: #FFFFFF;
	width: 100%;
	padding: 1em 1em 1em 1em;
	font-size: 16px;
	margin-top: 2em;
	font-weight: bold; 
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: #4CAF50;
	transition: 0.3s;
}
.btn-escolhaCadastro:hover{
	background-color: #3e8e41;
	cursor: pointer;
}

.btn-pesquisar{
	float: right;
}

.objetoMenu{
	margin-top: -0.5em;
	height: 5em;
	width: 100%;
}

.listaCheckbox{
	padding: 0;
	margin: 0;
}

.listaCheckbox li{
	font-size: 12px;
	display: inline;
}

.tabela{
	border-collapse: collapse;
    width: 100%;
}

.tabela th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabela tr:hover {
	background-color: #f5f5f5
}

.alertaSucesso{
	width: 70em;
	opacity: 1;
	margin-left: 15px;
    color: #3c763d;
    font-size: 14px;
    line-height: 20px;
	padding: 20px;
    background-color: #dff0d8;
}

